.tile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
  flex: 1 1 500px;
  min-width: 500px;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chart {
}
