<div>
  <h1 style="margin-bottom: 30px;">
    {{ title }}
  </h1>

  <div class="tile-list">
    <div class="card tile">
      <div class="card-block">
        <div class="col">
          <h4 class="card-title">Monthly Returns</h4>
          <div class="col-md-12">
            <div style="display: block;">
              <!-- <nvd3 [options]="options1" [data]="data1" class="with-3d-shadow with-transition"></nvd3> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card tile">
      <div class="card-block">
        <div class="col">
          <h4 class="card-title">Asset Diversity</h4>
          <div class="col-md-12">
            <div style="display: block;">
              <nvd3 [options]="options2" [data]="data1" class="with-3d-shadow with-transition"></nvd3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
