<nav class="navbar navbar-light bg-faded" style="background-color: #99ccff;">
  <span class="navbar-brand title">{{ title }}</span>
    <ul class="nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Generate Report</a>
          <a class="dropdown-item" href="#">Schedule Report</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 8px;">Login</button>
      </li>
    </ul>
    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Filter" style="width: 200px;" [ngModel]="filterQuery" (ngModelChange)="filter($event)"> -->
    <input class="form-control mr-sm-2" type="text" placeholder="Filter" style="width: 200px;">
</nav>
